.ranking-container {
  background-color: #fff;
  color: black;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
}

.li-container {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 22px;
  width: 70%;
}

.btn-go-home { 
  background-color: #4dc18b;
  color: white;
  font-weight: bold;
  height: 44px;
  width: 120px;
  border-radius: 8px;
  font-size: 16px;
}

.btn-go-home:hover { 
  cursor: pointer;
}

.li-container > h2 {
  margin: 0;
}

.li-container > img {
  width: 40px;
  height: 40px;
}